.folderIcon{
    height:50px;
    width: 50px;
    margin: 5px;
    margin-right: 10px;
}

.container{
    background-color: white;
    display:flex;
    flex-direction: row;
    padding: 5px;
    justify-content: flex-start;
    border-radius: 5px;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.box-text{
    padding-top: 5px;
    flex-grow:1;
}

.editButton{
    display: flex;
    align-self: center;
    cursor: pointer;
}