.navContainer{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}