#mainview-root{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0E0E0;
    min-height: 100vh;
    padding: 2.5%;
    
}

hr.divider {
    width: 100%;
    height: 12px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.5);
}

.directoryPath{
    align-self: flex-start;
}